{
	"trailingComma": "es5",
	"semi": false,
	"arrowParens": "always",
	"jsxBracketSameLine": false,
	"printWidth": 80,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"tabWidth": 2,
	"useTabs": false
}
